@mixin clearfix {
  &::after {
    display: table;
    content: '';
    clear: both;
  }
}

//Media Queries
/*
0 - 600px:  Phone
600px - 900px: Tablet Portrait
900px - 1200px: Tablet Landscape
[1200px-1800px]: Current desktop styles
1800px+: Big Desktop
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }

  @if $breakpoint == tabPortrait {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }

  @if $breakpoint == tabLandscape {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }

  @if $breakpoint == bigDesktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800px+
  }
}
